#main_div_1{
    display: block;
    background-color: rgb(255, 0, 0);
}

#div_block{
    display: block;
    background-color:orange;
    margin-top: 20px;
    margin: 40px;
}

.block_in{
    display: inline-block;
    border: 2px solid pink;
    margin: 5px;
}

#div_flex
{
    display: flex;
    /* flex-direction: row; */
    background-color:aquamarine;
    margin: 40px; /*No use of margin*/
    padding: 20px;
}

#div_flex:nth-of-type(1){flex-grow: 10;}
#div_flex:nth-of-type(2){flex-grow: 10;}
#div_flex:nth-of-type(3){flex-grow: 5;}
#div_flex:nth-of-type(4){flex-grow: 10;}
#div_flex:nth-of-type(5){flex-grow: 10;}

.flex_in{
    display: inline;
    border: 2px solid pink;
    margin: 5px;
}